{% extends "layouts/base.html" %}
{% block title %} Documentation {% endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<style>
img {
display: block;
margin-left: auto;
margin-right: auto;
}
</style>
<div class="yoo-height-b30 yoo-height-lg-b30"></div>
<div class="container">
  <div class="yoo-uikits-heading">
    <h2 class="yoo-uikits-title">We Use: Asymmetric Encryption with AntiVirus Scanning</h2>
  </div>
</div>
<div class="yoo-height-b30 yoo-height-lg-b30"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="yoo-documentation-body">
        <div class="yoo-height-b5 yoo-height-lg-b5"></div>
        <!-- <h4>We Use: Asymmetric Encryption</h4> -->
        <p style="text-align: justify;">Encryption Provides the Asymmetric Encryption with Virus/Spam Scanning features for all types of files.<br></p>
        <p style="text-align: justify;">Unlike symmetric encryption, here we use different keys for encryption and decryption. <strong>Asymmetrical encryption</strong> is also known as <strong>public key cryptography</strong>. <br></p>
        <p>Secret keys are exchanged over the Internet or a large network. So in Symmetric encryption, if someone gets the secret key, he can decrypt the message. But asymmetric encryption ensures that malicious person do not misuse the key.</p>
        <p>In asymmetric encryption, there are TWO key pair. - Public Key and Private Key<br>
   
        <p> <strong>A file that is encrypted using a public key can only be decrypted using it's private key.</strong> </p><br>
        <img style="width:700px; height: auto; align-items: center;" src="https://miro.medium.com/max/1440/0*s9ke2phuU_qzK5-0.png"><br>

        <div class="yoo-uikits-heading">
          <h2 class="yoo-uikits-title">Features of Encryption</h2>
        </div><br>
        <li>Increased security with Asymmetric Encryprion</li>
        <li>The private keys do not ever need to be transmitted or revealed to anyone.</li>
        <li>Trusted Security with Antivirus scanning to predict Malicious Files</li>
        <br>

         <div class="yoo-uikits-heading">
          <h2 class="yoo-uikits-title">Features of Antivirus Scanning</h2>
        </div><br>
        <li>Every file gets scanned for malware/virus before encryption/decryption.</li>
        <li>Uses World's most updated technology for AntiVirus Scan which quickly finds the malicious files.</li>
        <li>This helps us to intact security for all users as well as the server.</li>
        <li>Also by blocking infected files, we don't encourage the malicious files encryption and decryption.</li><br>

        <div class="yoo-uikits-heading">
          <h2 class="yoo-uikits-title">How to Use</h2>
        </div><br>

        <h5><ion-icon name="person-add-outline"></ion-icon> Registration</h5>
        <li>Once you successfully register, your personal key pair gets generated for encrytpion and decryption.</li>
        <li>We assure you both the keys and data safety, also we gurentee privacy and security of Data.</li>
        <br>

        <h5><ion-icon name="lock-closed-outline"></ion-icon> Encrypter</h5>
        <li>Click on <ion-icon name="lock-closed-outline"></ion-icon> Encrypter Option in Top Menu Bar.</li>
        <li>Upload the file to be encrypted In case of Folder or Multiple Files Kindly first compress and then upload the compressed zip/tar file.</li>
        <li>Once Encrypt button is clicked, uploaded file gets through AntiVirus scan, If file is clean (No Malware/Virus found) then it will get encrypted with your own encryption key and will give you the encrypted file to download.</li>
        <li>If Malware/Virus detected in file then it will redirect you to the Malicoius file found page. Kindly note that, we don't accept infected file encryption to keep our security level intact.</li>
        <li>Encrypted files can be downloaded and store or use for sharing through mails.</li>
        <br>
        
        <h5><ion-icon name="lock-open-outline"></ion-icon> Decrypter</h5>
        <li>Click on <ion-icon name="lock-open-outline"></ion-icon> Decrypter Option in Top Menu Bar.</li>
        <li>Upload the file, which is encrypted by you here, to be decrypted.</li>
        <li>Once Decrypt button is clicked, uploaded file gets through AntiVirus scan, If file is clean (No Malware/Virus found) then it will get decrypted with your own decryption key and will give you the decrypted file to download.</li>
        <li>If Malware/Virus detected in file then it will redirect you to the Malicoius file found page. Kindly note that, we don't accept infected file decryption to keep our security level intact.</li>
        <li>Decrypted files can be downloaded and store.</li>
        <br>
        

      </div><br>
      
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}